<div class="card bg-neutral text-neutral-content">
  <div class="card-body items-center text-center">
    <h2 class="card-title" data-testid="list-item-task-title">
      {{ task().title }}
    </h2>
    <div class="card-actions justify-end w-full">
      @if (task().isCompleted) {
      <button
        class="btn btn-primary btn-xs"
        data-testid="list-item-mark-as-pending-action"
        (click)="onMarkAsPending()"
      >
        Marcar como pendente
      </button>
      } @else {

      <button
        class="btn btn-primary btn-xs"
        data-testid="list-item-complete-action"
        (click)="onComplete()"
      >
        Completar
      </button>

      }
    </div>
  </div>
</div>
